body{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
}
.cargo{
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    padding: 10px 0;
    right: -25%;
    font-size:xx-large    
}
.titulo{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
    right: -25%;
    font-size: x-large;
}
.Datos{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 80px;
    font-size: small;
    border: 3px solid #73AD21;

}
.habilidades{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 75px;
    font-size:small;
}
.habilidadestec{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 68px;
    font-size:small;
}
.informacion{
    position: relative;
    width: 1000px;
    height: 290px;
  }
.informacion {
    position: absolute;
    top: 200px;
    right: 0;
    width: 1000px;
    height: 250%;
  }
.informacion{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:smaller;
}
.experiencia{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
}
.experiencia{
    position: relative;
    width: 1000px;
    height: 290px;
  }
.experiencia {
    position: absolute;
    top: 360px;
    right: 0;
    width: 1000px;
    height: 50px;
  }
  .estudios{
    position: relative;
    width: 1000px;
    height: 290px;
  }
.estudios {
    position: absolute;
    top: 430px;
    right: 0;
    width: 1000px;
    height: 50px;
  }
.estudios{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
